* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Montserrat", sans-serif;

}


.color{
    background-color: #F4F3F2;
    margin-bottom: 1px;
    border-bottom: 1px #DBD7D2 solid;
}

html{
    height: 100%;
    margin: 0;
    overflow-x: hidden;

}


.color{
    background-color: #F4F3F2;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

/* Styly pro dropdown */
.dropdown {
    position: relative;
    border-bottom: 1px #DBD7D2 solid;

}

.dropdown .dropdown-content {
    display: none; /* Skryjeme dropdown ve výchozím stavu */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F4F3F2;
    min-width: 180px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; /* Zobrazíme dropdown při hoveru nad .dropdown */
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px #DBD7D2 solid;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}


.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    background-color: #F4F3F2;

}

.navbar a {
    color: black;
    padding: 20px;
    text-decoration: none;
    background-color: #F4F3F2;
    font-size: 19px;
    line-height: 25px;
    border-radius: 5px;
    font-weight: 500;

}

.navbar #logo-bar{
    margin-right: auto;
    display: block;
    max-width: 50px;
    cursor: pointer;
    filter: saturate(800%) brightness(100%);
    background-color: transparent;
    mix-blend-mode: multiply;

}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.main #logo-full
{
    position: absolute;
    opacity: 0;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    filter: saturate(800%) brightness(200%);
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 0.5s;
    justify-content: center;
    background-color: transparent;
    mix-blend-mode: multiply;
}

@keyframes fadeIn
{
    to
    {
        opacity: 1;
    }
}
@-moz-document url-prefix()
{
    .main #logo-full {
        top: 20rem;
    }
}

.main #background{

    background-color: dimgrey;

    opacity: 0;

}

.main #title{
    position: absolute;
    opacity: 0;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    filter: saturate(800%) brightness(200%);
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 0.5s;
    justify-content: center;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.main #title-bottom{
    position: absolute;
    opacity: 0;
    width: 80%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    filter: saturate(500%) brightness(200%);
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 0.5s;
    justify-content: center;
    background-color: transparent;
    mix-blend-mode: multiply;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkturquoise;
    color: white;
    text-align: center;
}

.footer-logo{
    margin: 10px;
    padding: 15px;

}

.footer-logo img{
    background-color: rgba(255,255,255,0);
    width: 30%;
}

.footer-logo hr {
    border: 1px solid #F4F3F2   ;
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-grid-item{
    justify-content: center;
    text-align: left;
    color: #F4F3F2;
    position: relative;
}

.footer-grid-item1{
    justify-content: right;
    text-align: left;
    color: #F4F3F2;
    right: -20%;
}

.footer-grid-item p{
    font-size: large;
}

.footer-grid-item1 p{
    font-size: large;
}

.footer-grid-item1 a{
    text-decoration: underline;
    color: white;
}

.nm{
    font-style: oblique;
}

.mail{
    text-decoration: underline;
}

.footer-end p{
    margin-top: 10px;
}

.footer-end hr{
    border: 1px solid #F4F3F2   ;

}

.header-main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.grid1{
    border: 1px solid darkturquoise;
    background-color: darkturquoise;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px; /* Pevná výška zajistí, že div nezmění velikost */
    width: 300px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}


.grid1 img{
    max-width: 45%;
    max-height: 100%;
    margin: 30px;


}

.grid2 img{
    max-width: 45%;
    max-height: 100%;
    margin: 30px;


}
.grid2{
    background-color: #08fcfc;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px; /* Pevná výška zajistí, že div nezmění velikost */
    width: 300px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}


.grid1 a{
    justify-content: center; /* Horizontální zarovnání obsahu */
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #F4F3F2;
    transition: font-size 0.2s ease-in;
    text-align: center;

}

.grid2 a{

    justify-content: center; /* Horizontální zarovnání obsahu */
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #F4F3F2;
    transition: font-size 0.2s ease-in-out;
    text-align: center;
}

.grid1 a:hover{
    font-size: 25px;
}

.grid2 a:hover{
    font-size: 25px;
}

.info h1{
    text-align: center;
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 1s;
    opacity: 0;
}

.main-container
{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: black;
    animation: fadeIn 1s forwards;
    pointer-events: none;
    animation-delay: 1s;
    opacity: 0;
}

.logo-kontakt-bar {
    background-color: darkturquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    color: white;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.logo-kontakt-bar img{
    max-width: 40%;
    animation: fadeIn 1s forwards;
    opacity: 0;
}
.kontakt-text
{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.logo
{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1rem;
}

.team-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.cin2 {
    text-align: left;
    flex: 0.35;
    margin-top: 60px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.cin-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: fadeIn 1s forwards;
    opacity: 0;
}
.mapa2
{
    display: flex;
    justify-content: center;
}
.mapa
{
    width: 100vw;
    height: 500px;
    filter: blur(10px);
    transition: filter 1.5s ease;
}

.main-grid1 {
    border: 1px solid #08fcfc;
    background-color: darkturquoise;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    margin: 15px;
}

.main{
    grid-template-columns: 1fr 1fr;
    display: grid;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    gap: 20px;
}

.main-grid1 ul{
    margin: 10px;
}

.main-grid1 li{
    padding: 10px;
    font-size: 20px;
    color: #F4F3F2;
}

.main-grid1 h1{
    padding: 15px;
    color: #F4F3F2;
    text-decoration-line: underline ;
    text-decoration-thickness: 2px ;
}


.main-index{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    font-size: 20px;
}

.main-index h2{
    padding: 10px;
}

.dokumentace{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.dokumentace h2{
    text-decoration-line: underline;
    text-decoration-color: #08fcfc;
    text-decoration-thickness: 2px;
}

.dokumentace li{
    margin-top: 10px;
    font-size: 20px;
}

/*kkkk*/