* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Montserrat", sans-serif;


}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.color{
    background-color: #F4F3F2;
    margin-bottom: 1px;
}

html{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    opacity: 0; /* Skryté na začátku */
    animation: fadeSlideDown 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}


.color{
    background-color: #F4F3F2;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

/* Dropdown content (služby) */


.dropdown {
    position: relative;
    border-bottom: none;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F4F3F2;
    min-width: 180px;
    z-index: 1;
    padding: 0;
    margin: 0;
    pointer-events: none; /* Dropdown se nebude chovat jako viditelný prvek */
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
    pointer-events: auto; /* Povolení interakce */
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px #DBD7D2 solid;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;

}

.menu{
    display: flex;
    justify-content: flex-start;
    transition: none    ;
    align-items: center;
    padding: 0 20px;
    background-color: #F4F3F2;

}



.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #F4F3F2;
    transition: transform 0.3s ease-in-out;
}

.navbar a {
    color: black;
    padding: 15px;
    text-decoration: none;
    background-color: #F4F3F2;
    font-size: 19px;
    line-height: 25px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: black 0.3s ease;
}

.navbar.hidden {
    transform: translateY(-100%);
}


.navbar #logo-bar{
    margin-right: auto;
    display: block;
    max-width: 50px;
    cursor: pointer;
    filter: saturate(800%) brightness(100%);
    background-color: transparent;
    mix-blend-mode: multiply;

}

.navbar #menu-icon{
    opacity: 0;
}

.navbar a:hover {
    color: black;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 40px;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar a.aktivni::after {
    transform: scaleX(1);
}

.main #logo-full
{
    position: absolute;
    opacity: 0;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    filter: saturate(800%) brightness(200%);
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 0.5s;
    justify-content: center;
    background-color: transparent;
    mix-blend-mode: multiply;
}

@keyframes fadeIn
{
    to
    {
        opacity: 1;
    }
}
@-moz-document url-prefix()
{
    .main #logo-full {
        top: 20rem;
    }
}

.main #background{

    background-color: dimgrey;

    opacity: 0;

}

.main #title{
    position: absolute;
    opacity: 0;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    filter: saturate(800%) brightness(200%);
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 0.5s;
    justify-content: center;
    background-color: transparent;
    mix-blend-mode: multiply;
    text-align: center;
}

.main p{
    justify-content: center;
    text-align: center;
}

.main #title-bottom{
    position: absolute;
    opacity: 0;
    width: 80%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    filter: saturate(500%) brightness(200%);
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 0.5s;
    justify-content: center;
    background-color: transparent;
    mix-blend-mode: multiply;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkturquoise;
    color: white;
    text-align: center;
    padding: 5px 10px;


}

.footer p{
    justify-content: center;
}

.footer-logo{
    margin: 10px;
    padding: 15px;

}

.footer-logo img{
    background-color: rgba(255,255,255,0);
    width: 30%;
    max-width: 320px;
    margin-bottom: 10px;
}

.footer-logo hr {
    border: 1px solid #F4F3F2   ;
}

.footer-grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-end {
    margin-top: 20px;
    font-size: 14px;
}

.footer-grid-item {
    text-align: left;
}

.footer-grid-item1 {
    text-align: center;
}

.footer-grid-item1j {
    text-align: right;
}


.footer-grid-item p{
    font-size: large;
}

.footer-grid-item1 p{
    font-size: large;
}


.footer-grid-item1 a{
    text-decoration: underline;
    color: white;
}

.nm{
    font-style: oblique;
}

.mail{
    text-decoration: underline;
}

.footer-end p{
    margin-top: 10px;
}

.footer-end hr{
    border: 1px solid #F4F3F2   ;

}


.header-main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.grid1{
    border: 1px solid darkturquoise;
    background-color: darkturquoise;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px; /* Pevná výška zajistí, že div nezmění velikost */
    width: 300px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}


.grid1 img{
    max-width: 45%;
    max-height: 100%;
    margin: 30px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.grid2 img{
    max-width: 45%;
    max-height: 100%;
    margin: 30px;
    transition: transform 0.3s ease-in-out;
}
.grid2{
    background-color: #08fcfc;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px; /* Pevná výška zajistí, že div nezmění velikost */
    width: 300px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}


.grid1 a{
    display: inline-block;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #F4F3F2;
    transition: transform 0.3s ease-in-out;
    text-align: center;

}

.grid2 a{

    display: inline-block;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #F4F3F2;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.grid1 a:hover{
    transform: scale(1.1);

}

.grid2 a:hover{
    transform: scale(1.1);
}

.info h1{
    text-align: center;
    animation: fadeIn 1.5s forwards;
    pointer-events: none;
    animation-delay: 1s;
    opacity: 0;
}

.main-container
{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: black;
    animation: fadeIn 1s forwards;
    pointer-events: none;
    animation-delay: 1s;
    opacity: 0;
}

.logo-kontakt-bar {
    background-color: darkturquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    color: white;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.logo-kontakt-bar img{
    max-width: 40%;
    animation: fadeIn 1s forwards;
    opacity: 0;
}
.kontakt-text
{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.logo
{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1rem;
}

.team-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.cin2 {
    text-align: left;
    flex: 0.35;
    margin-top: 60px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.cin-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: fadeIn 1s forwards;
    opacity: 0;
}
.mapa2
{
    display: flex;
    justify-content: center;
}
.mapa
{
    width: 100vw;
    height: 500px;
    filter: blur(10px);
    transition: filter 1.5s ease;
}

.main-grid1 {
    border: 1px solid #08fcfc;
    background-color: darkturquoise;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    margin: 15px;
}

.main{
    grid-template-columns: 1fr 1fr;
    display: grid;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    gap: 20px;
}

.main-grid1 ul{
    margin: 10px;
}

.main-grid1 li{
    padding: 10px;
    font-size: 20px;
    color: #F4F3F2;
}

.main-grid1 h1{
    padding: 15px;
    color: #F4F3F2;
    text-decoration-line: underline ;
    text-decoration-thickness: 2px ;
}


.main-index{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    font-size: 20px;
}

.main-index h2{
    padding: 10px;
}

.dokumentace{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.dokumentace h2{
    text-decoration-line: underline;
    text-decoration-color: #08fcfc;
    text-decoration-thickness: 2px;
}

.dokumentace li{
    margin-top: 10px;
    font-size: 20px;
}

/* Responzivita na mobily */
@media (max-width: 1190px)
{
    .grid1, .grid2 {
        width: 100%;
        height: auto;
    }
    .grid1 img, .grid2 img {
        max-width: 30%;
    }
    .grid1 img, .grid2 img {
        max-width: 30%;
    }
}


@media (max-width: 768px) {
    .navbar a {
        padding: 9px;
        font-size: 13px;
        font-weight: 500;
    }



    .main #title {
        font-size: 20px;
    }
    .main #title-bottom{
        margin-top: 20px;

    }
    .header-main {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .grid1, .grid2 {
        width: 100%;
        height: auto;
    }
    .grid1 img, .grid2 img {
        max-width: 30%;
    }
    .grid1 img, .grid2 img {
        max-width: 30%;
    }

    .footer-grid {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }



    .footer-grid-item,
    .footer-grid-item1,
    .footer-grid-item1j {
        min-width: 100%;
        text-align: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-logo img {
        width: 50%;
    }

    .footer-end {
        text-align: center;
    }

    .main-container {
        font-size: 16px;
        padding: 5px;
    }

    .team-sections {
        flex-direction: column;
        gap: 10px;
    }

    .logo-kontakt-bar h1{
        justify-content: center;
        text-align: center;
    }

    .logo-kontakt-bar {
        flex-direction: column;
        padding: 20px;
    }

    .logo-kontakt-bar img {
        max-width: 0%;
    }

    .main-grid1, .main {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .main-grid1 li {
        font-size: 18px;
    }

    .info h1 {
        font-size: 22px;
    }

    .cin-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .footer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .kar {
        padding: 10px;
        text-align: center;
    }

    .kar-main p{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 5px;
        margin: 5px 5px;
    }

    .nadpisos {
        font-size: 20px;
        left: -10%;
    }

    .team-sections2 img{
        max-width: 0%;
    }
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.company-info {
    max-width: 40%;
}

.contact-container p{
    font-size: 16px;
    padding: 2px;
}

.company-info h2 {
    color: darkturquoise;
    font-weight: bold;
    margin-bottom: 10px;
}

.company-logo {
    width: 100px;
    margin-top: 20px;
}

.team-info {
    max-width: 55%;
}

.team-info h2 {
    color: darkturquoise;
    margin-bottom: 10px;
}

.team-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.team-column {
    max-width: 50%;
}

.team-column h4 {
    font-weight: bold;
}

/*Kontakt resp.*/
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .company-info,
    .team-info {
        max-width: 100%;
    }

    .team-section {
        flex-direction: column;
        align-items: center;
    }

    .team-column {
        max-width: 100%;
    }

    .company-logo {
        width: 80px;
    }

    .company-info img{
        margin:3vh;
    }

}

.background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    background: url('img/city.jpg') no-repeat center center/cover;
    opacity: 0.156;
}


.team-sections2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.cv p{
    margin-bottom: 30px;
}

.hled {
    font-size: 2rem;
    color: darkturquoise;
    text-align: center;
    margin: 0;
    left: -5%;
}


.nadpisos {
    font-size: 22px;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 3vh;
    left: 0;
}

.kar-main p {
    font-size: 18px;
    line-height: 1.6;
}

.kar-main li{
    font-size: 18px;
    line-height: 1.6;
}

.logo {
    width: 300px;
}
.p{
    font-size: 20px;
    padding-left: 80px;
    padding-right: 300px;
}

/* CSS pro projekty */

.project{
    display: flex;
    align-items: center;
    background: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img{
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.project img:hover{
    transform: scale(1.03);
    transition: 0.4s ease-in-out;
}

.project .text {
    width: 50%;
    right: -10%;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
}

.project p{
    flex: 1;
}

.project h1{
    text-decoration: 1.5px #DBD7D2 underline;
}

.project-detail {
    display: flex;
    align-items: center;
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}
.project-detail .text {
    width: 50%;
    padding-right: 20px;
}
.project-detail img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.project-detail .text{
    width: 50%;
    left: -5%;
    padding-left: 20px;
    justify-content: center;
    text-align: center;
}